body {
  color: #fff;
  font-family: Verdana;
  font-weight: bold;
  font-stretch: expanded;
}

.form-header {
  margin: 1em auto;
  text-align: center;
  color: #0000FF;
  font-size: 22px;
  text-decoration-line: underline;
}


.form-container {
  border: 4px dashed black;
  margin: 0 auto;
  width: fit-content;
  background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);;
}

.form-content {
  display: block;
  border: thin solid black;
  padding: 0 0 20px 0;
}

.form-field {
  display: flex;
  padding: 20px 15px 0 15px;
}

.form-field > .label {
 width: 200px;
}

.form-field > .fields {
width: 550px;
}

.form-field > .fields > div {
  width: fit-content;
}

select {
  height: 30px;
  width: 70px;
  border: none;
}

textarea
{
  width: 275px;
  border: none;
}

input[type='text'],
input[type='number'],
input[type='email']
{
width: 270px;
height: 30px;
border: none;
padding-left: 10px;
}

input[type='checkbox'] {
  border: none;
}

.form-actions {
  text-align: center;
}

.form-actions > input[type="submit"],input[type="reset"] {
  cursor: pointer;
  height: 32px;
  border: none;
  width: 100px;
  margin: 20px 5px;
}